/* CSS Document */


#main_content {
	padding-left:2%;
	padding-right:2%;
}

#sidebar {
	-webkit-margin-before: 0em;
	padding-top:0px;
	width:100%;
	float:left;
	text-wrap:none;	
}

#widget {
	margin-bottom:0;
	margin-top:24px;
}



#page_content {
	width:100%;
	padding-right:0%;
	float:left;	
}

#page img {
	width:calc(100% - 8px);
	margin-right:auto;
	margin-left:auto;
}

#featured_img {
	width: calc(100% - 50px);
padding-left: 25px;
padding-right: 25px;
}


#footer {
	width: calc(100% - 50px);
padding-left: 25px;
padding-right: 25px;
}

#header {
	width:calc(100% - 50px);
	padding-left:25px;
	padding-right:25px;
}

#navbar {
	width:calc(100% - 50px);
	padding-left:25px;
	padding-right:25px;
}

#page {
	width:calc(100% - 50px);
	padding-left:25px;
	padding-right:25px;
}
